
/*here i want all of the images that I will be using to represent the candles to automatically be smaller and adjust to fit comfortably into whatever screen size it is being viewed on */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/* Makes Webkit (-webkit) and Microsoft (-ms) browsers adjust the font size of ALL screens to 100% all of the time - corrects the issue of text size adjustments. It is listed in small screens css because putting it in either the large or medium css would make it only apply to that minimum pixel size. Here it applies to all pages created that reference small.css in the html META tags area */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* border-box above means padding is added to the inside and margin is added to the outside, and the asterisk (*) means that this rule is applied to every border box on the page */

/*Main Area*/
body {
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    content: "";
      background-image: url('/Ablingtonltgrn\ \(2\).jpg');
      background-size:cover;
      /* how do i get it to cover the whole background regardless of device size?*/
      background-repeat: no-repeat;
      
    }

 
#mainheader { 
    background-color: #7fc28a;
}

/*Top Menu*/

nav {
    height: 70px;
    width: auto; /*can I use flex in this way here?*/
    margin: 0 0 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav>ul>li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
a:hover {
    color:#fff;
}

.mainContent{
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
}/*for home page */

.main_details{
    display: flex;
    flex-direction: column;
    width: 350px;
    
}
.pageTitle{
    font-size:35px;
    color:black;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    padding-right: 20px;
    line-height: 2;
}
.candleRow {
    display:flex;
    /*how do I make the box containing the image and words smaller?*/
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 20px;
    /*flex-basis: 100%;*/
    align-items: center;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    padding-right: .5rem;
}
.candleRow>div>h3{
    text-align:  center;
}
.candleRow>img{
    width: 50%;
    height: auto;
    border-radius: 10%;
    margin-left: 20px;
}

.candleRow>div{
        flex-grow: 1;
        padding-left: .5rem;
        
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
 /*how to line up input boxes so that they are justified, lining up evenly on the right?*/
}
.submitBtn {
    display: flex;
    max-width: 150px;
    /*how to center the text in the button ..included space in the defined value*/

}
/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #7fc28a;
    color:black;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}
footer>ul {
    display: flex;
    margin-bottom: 25px;
    list-style-type: none;}
footer>ul>li {
    margin: 0 8px;
}
footer>ul>li:first-child {
    margin-left: 0;
}

footer>ul>li:last-child {
    margin-right: 0;
}
footer>ul>li>a {
    color:black;
}

@media only screen and (min-width: 700px) {
    @import "medium";
}

@media only screen and (min-width: 1000px) {
    @import "large";
} 
