@media only screen and (min-width: 700px) {



h1 {color: yellow;}

.candleBox {
    min-width: 250px;   
}

.candleContainer {
  flex-direction: row;
  }   

   nav>div>button {display: none;}
   nav>div>ul {display: flex;}
   nav>div>ul.open {
    display:flex;}
   /* nav>div>li {width: 25%; float: left;} */
   /* *************************** */

   /* 
   .main_details {
     width: 75%;
    flex-wrap: wrap; 
      */
  
/* I want my rows of candles on the candle_details page to go from single column to double column when the screen size goes to 768px, and to 4 column when screen size is 0ver 1000px */

}/* end of media query */