@media only screen and (min-width: 700px) {



h1 {color: yellow;}

.candleBox {
    min-width: 250px;   
}

.candleContainer {
  flex-direction: row;
  /* max-width: 650px; <--changing the size of the container does not make it wrap*/
  /* display: flex;
  flex-wrap: wrap; 
  margin-left: auto;
  margin-right: auto;
  */
   }       
 
   .main_details {
    /*  width: 75%;
    flex-wrap: wrap; 
    /*something needs to happen here or in the .candleContainer to make the content wrap - flex-wrap isnt working. I know its my code but idk what. 
    ??flex-flow: row wrap;
  */}
  
/* I want my rows of candles on the candle_details page to go from single column to double column when the screen size goes to 768px, and to 4 column when screen size is 0ver 1000px */

}/* end of media query */